/*
 * Snowstorm
 * SNOMED CT Terminology Server REST API
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.InactivationTypeAndConceptIdList;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ValidationApi {
    private ApiClient apiClient;

    public ValidationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ValidationApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGET
     * @param branch branch (required)
     * @param conceptEffectiveTime conceptEffectiveTime (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGETCall(String branch, String conceptEffectiveTime, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/{branch}/report/inactive-concepts-without-association"
            .replaceAll("\\{" + "branch" + "\\}", apiClient.escapeString(branch.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (conceptEffectiveTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("conceptEffectiveTime", conceptEffectiveTime));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGETValidateBeforeCall(String branch, String conceptEffectiveTime, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'branch' is set
        if (branch == null) {
            throw new ApiException("Missing the required parameter 'branch' when calling findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGET(Async)");
        }
        

        com.squareup.okhttp.Call call = findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGETCall(branch, conceptEffectiveTime, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Find inactive concepts with no historical association grouped by inactivation type.
     * 
     * @param branch branch (required)
     * @param conceptEffectiveTime conceptEffectiveTime (optional)
     * @return List&lt;InactivationTypeAndConceptIdList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<InactivationTypeAndConceptIdList> findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGET(String branch, String conceptEffectiveTime) throws ApiException {
        ApiResponse<List<InactivationTypeAndConceptIdList>> resp = findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGETWithHttpInfo(branch, conceptEffectiveTime);
        return resp.getData();
    }

    /**
     * Find inactive concepts with no historical association grouped by inactivation type.
     * 
     * @param branch branch (required)
     * @param conceptEffectiveTime conceptEffectiveTime (optional)
     * @return ApiResponse&lt;List&lt;InactivationTypeAndConceptIdList&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<InactivationTypeAndConceptIdList>> findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGETWithHttpInfo(String branch, String conceptEffectiveTime) throws ApiException {
        com.squareup.okhttp.Call call = findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGETValidateBeforeCall(branch, conceptEffectiveTime, null, null);
        Type localVarReturnType = new TypeToken<List<InactivationTypeAndConceptIdList>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Find inactive concepts with no historical association grouped by inactivation type. (asynchronously)
     * 
     * @param branch branch (required)
     * @param conceptEffectiveTime conceptEffectiveTime (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGETAsync(String branch, String conceptEffectiveTime, final ApiCallback<List<InactivationTypeAndConceptIdList>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = findInactiveConceptsWithNoHistoricalAssociationByInactivationTypeUsingGETValidateBeforeCall(branch, conceptEffectiveTime, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<InactivationTypeAndConceptIdList>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
