.containerList{
    margin-top: 2%;
    margin-bottom: 12%;
    padding-right: 0;
    padding-left: 0;
}
.list-group-item{
    display: flex;
}
.res-info-buttons{
    margin-left: auto;
    float: right;
    display: flex;
}
.contentContainer{
    margin-top: 110px;
}

.table-hover{
    width: 100%;
}
.fa-times-circle{
    margin-top: 8px;
    margin-left: 3px;
    color: red;
}

.fa-check-circle{
    margin-top: 8px;
    margin-left: 3px;
    color: green;
}

.btn-info{
    background-color: #70a8e3;
    border-color: #70a8e3;
}

.btn-primary{
    background-color: #70a8e3;
    border-color: #70a8e3;
    float: right;
    margin-inline-start: auto;
}

.badge-info{
    background-color: #70a8e3;
}

#header{
    display: flex;
}

.dropdown {
    border-color: #70a8e3;
    margin-left: auto;
    align-self: center;
}

#tabsSearch {
    padding-left: 45px;
    padding-right: 45px;
}


.mapping-indicator{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    float: right;
    text-align: center;
    display: inline-block;
    margin: 5pt 0 5pt 13pt;
    align-self: center;
}

.unmapped{
    background-color: red;
}

.has-equal{
    background-color: green;
}

.has-mapping{
    background-color: yellow;
}

.axis-indicator{
    height: 25px;
    width: 25px;
    border-radius: 10%;
    float: right;
    text-align: center;
    display: inline-block;
    margin: 5pt 0 5pt 13pt;
    align-self: center;
    background-color: grey;
}

.axis-info{
    color: white;
    font-weight: bold;
}

.btn-group{
    width: inherit;
}

.btn-mapping{
    width: 16px;
}

#map-full-input{
    display: flex;
}
 #anatomy-in, #modality-in, #laterality-in, #procedure-in{
     margin-right: 3px;
     margin-left: 3px;
 }

#map-full-appc{
    margin-top: 20px
}

 #map-full{
     margin-left: 10%;
 }
 #selected-snomed-display{
     display: flex;
 }
 #btn-select-snomed{
     float:right;
     margin-left: auto;
 }
 #selected-snomeds{
     margin-top: 20px
 }
 #anatomy-id, #modality-id, #laterality-id, #procedure-id{
     display: none;
 }
#compositional-grammar{
    white-space: pre-wrap;
}
#compositional-grammar-container{
    margin-top: 20px;
    margin-bottom: 100px;
}
#footer{
    background-color: white;
}

.nobullets{
    list-style: none;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}
.scoring-options{
    margin-right: 5pt;
}

#submit-scoring-options{
    margin-left:10pt;
}