<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SNOMAPP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="../static/styles/list.css" th:href="@{/styles/list.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body onload="startInterval()">

<!-- HeaderImage -->
<div class="container fixed-top pt-3" style="background-color: white">
    <img alt="SNOMAPP" class="img-fluid" th:src="@{images/logo.png}"  height="100px" width="300px" >
</div>


<!-- Content including Result List -->
<div class="container p-3">
<div class="contentContainer" style="margin-top: 110px" >
    <span th:text="#{snomed.no_results} + ': ' + ${results.size()}">Number of results</span>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-info btn-sm float-right" data-toggle="modal" data-target="#mappings" >
        Open Mappings
    </button>
    <div class="containerList" >
    <ul class="list-group" th:each="result : ${results}">
        <li class="list-group-item" th:if="${result.isActive()}">
            <span th:text="#{snomed.display_name}': ' + ${result.getConcept().getFsn().getTerm()} + #{snomed.code} + ': ' + ${result.getConcept().getId()}">Result</span>
            <!--mapping exists YES
            <span class="content float-right pr-3" data-toggle="tooltip" title="already mapped" th:if="${mappings.contains(${result.getConcept().getConceptId()})}">
                    <i class="fas fa-check-circle"></i>
            </span>-->
            <!--mapping exists NO-->
            <span class="content float-right pr-3" data-toggle="tooltip" title="already mapped" th:if="true">
                    <i class="fas fa-times-circle"></i>
                </span>

            <!--Info-->
            <span class="content float-right pr-3" data-toggle="tooltip" title="Description" th:if="true">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#description" th:attr="data-target='#description'+${result.getConcept().getConceptId()}">
                    <i class="fas fa-info-circle" ></i></button>
                </span>
             <!--Plus-->
            <span class="content float-right pr-3" data-toggle="tooltip" title="add Mapping" th:if="true">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addMapping" th:attr="data-target='#addMapping'+${result.getConcept().getConceptId()}">
                    <i class="fas fa-plus-circle"></i></button>
                </span>
            <!--Ranking-->
            <span class="content float-right pr-3" ><span class="badge badge-info p-2" data-toggle="tooltip" title="Scoringpoints" th:if="true">12</span></span>
        </li>

        <!-- The Modal -->
        <div class="modal" id="description" th:id="'description'+${result.getConcept().getConceptId()}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Description</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <h5>Code: </h5>
                        <span th:text="${result.getConcept().getConceptId()}">Code</span>
                        </br>
                        </br>
                        <h5>Prefered Term: </h5>
                        <span th:text="${result.getConcept().getFsn().getTerm()}">Code</span>
                        </br>
                        </br>
                        <h5>Alias: </h5>
                        <span>TODO Name</span>
                        </br>
                        </br>
                        <h5>Descriprion:</h5>
                        <p th:text="'Definition status: ' + ${result.getConcept().getDefinitionStatus()}">Definition status</p>
                        <p th:text="'Module ID: ' + ${result.getConcept().getModuleId()}">Module ID</p>
                        <p th:text="'Language code: ' + ${result.getLanguageCode()}">Language code</p>
                        <a th:href="'https://browser.ihtsdotools.org/?perspective=full&conceptId1=' + ${result.getConcept().getConceptId()} + '&edition=MAIN/2020-07-31&release=&languages=en'">Link to Code</a>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal" id="addMapping" th:id="'addMapping'+${result.getConcept().getConceptId()}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Mapping</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <span th:text="'APPC: ' + ${appc.getCode()} + ' - ' + ${appc.getDisplayName()}">APPC Element</span>
                        </br>
                        <span th:text="'SNOMED: ' + ${result.getConcept().getConceptId()} + ' - ' + ${result.getConcept().getFsn().getTerm()}">SNOMED Element</span>

                        <!--Dropdown-->
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Select Mapping
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">EQUIVALENT</a>
                                <a class="dropdown-item" href="#">EQUAL</a>
                                <a class="dropdown-item" href="#">WIDER</a>
                                <a class="dropdown-item" href="#">SUBSUMES</a>
                                <a class="dropdown-item" href="#">NARROWER</a>
                                <a class="dropdown-item" href="#">SPECIALIZES</a>
                                <a class="dropdown-item" href="#">INEXACT</a>
                                <a class="dropdown-item" href="#">UNMATCH</a>
                                <a class="dropdown-item" href="#">DISJOINT</a>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <!--ToDo save mapping-->
                            <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
    </div>
</div>
</div>

<!-- Buttons bottom right -->
<div class="container fixed-bottom p-3" style="background-color: white">
    <div class="float-right" >
        <a href="startPage"><button type="button" class="btn btn-primary" >Back to Startpage</button></a>
    </div>
</div>


<!-- The existing mappings Modal -->
<div class="modal" id="mappings">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" th:text="${appc.getCode()}">Mappings for --APPC-- </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span th:text="'Displayname: ' + ${appc.getDisplayName()}">Displayname: XXXXXXXX</span>
                <table class="table-hover table-bordered">
                    <thead >
                    <tr>
                        <th scope="col">SNOMED Code</th>
                        <th scope="col">Displayname</th>
                        <th scope="col">Mapping</th>
                    </tr>
                    </thead>
                    <tbody th:each="mapping : ${mappings}">
                    <tr >
                        <td th:text="${mapping.getDestination().getCode()}">Code
                        </td>
                        <td>Example</td>
                        <td th:text="${mapping.getEquivalence().toString()}">equivalence</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
               <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>

            </div>

        </div>
    </div>
</div>

<script>
    //Datatoggle function
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>