<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SNOMAPP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="../static/styles/list.css" th:href="@{/styles/list.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body onload="startInterval()">

<!-- HeaderImage -->
<div class="container fixed-top pt-3" style="background-color: white">
    <img alt="SNOMAPP" class="img-fluid" th:src="@{images/logo.png}"  height="100px" width="300px" >
    <h4 th:text="#{resultpage}"></h4>
</div>


<!-- Content including Result List -->
<div class="container p-3">

<div class="contentContainer" style="margin-top: 110px" >
    <span th:text="#{snomed.no_results} + ': ' + ${results.size()}">Number of results</span>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-info btn-sm float-right" data-toggle="modal" data-target="#mappings" th:text="#{mappings.open}" >
        Open Mappings
    </button>
    <div class="containerList" >
    <ul class="list-group" th:each="result : ${results}">
        <li class="list-group-item" th:if="${result.isActive()}">
            <span th:text="'Display Name: ' + ${result.getConcept().getFsn().getTerm()} + ' Code: ' + ${result.getConcept().getId()}">Result</span>
            <!--mapping exists YES-->
            <span class="content float-right pr-3" data-toggle="tooltip" title="already mapped" th:if="${mappings.contains(result.getConcept().getConceptId())}">
                    <i class="fas fa-check-circle"></i>
            </span>
            <!--mapping exists NO -->
            <span class="content float-right pr-3" data-toggle="tooltip" title="already mapped" th:unless="${mappings.contains(result.getConcept().getConceptId())}">
                    <i class="fas fa-times-circle"></i>
                </span>

            <!-- Info-->
            <span class="content float-right pr-3" data-toggle="tooltip" title="Description" th:if="true">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#description" th:attr="data-target='#description'+${result.getConcept().getConceptId()}">
                    <i class="fas fa-info-circle" ></i></button>
                </span>
             <!--Plus-->
            <span class="content float-right pr-3" data-toggle="tooltip" title="add Mapping" th:if="true">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addMapping" th:attr="data-target='#addMapping'+${result.getConcept().getConceptId()}">
                    <i class="fas fa-plus-circle"></i></button>
                </span>
            <!--Ranking-->
            <span class="content float-right pr-3" ><span class="badge badge-info p-2" data-toggle="tooltip" title="Scoringpoints" th:if="true">12</span></span>
        </li>

        <!-- The Modal -->
        <div class="modal" id="description" th:id="'description'+${result.getConcept().getConceptId()}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" th:text="#{description}">Description</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <h5>Code: </h5>
                        <span th:text="${result.getConcept().getConceptId()}">Code</span>
                        </br>
                        <h5 th:text="#{prefered_term}">Prefered Term: </h5>
                        <span th:text="${result.getConcept().getFsn().getTerm()}">Code</span>
                        </br>
                        <h5>Alias: </h5>
                        <ul class="list" th:each="alias : ${resMap.get(result.getConcept().getConceptId())}">
                        <li th:text="${alias.getTerm()}"></li>
                        </ul>
                        </br>
                        <h5 th:text="#{description}">Description:</h5>
                        <p th:text="'Definition status: ' + ${result.getConcept().getDefinitionStatus()}">Definition status</p>
                        <p th:text="'Module ID: ' + ${result.getConcept().getModuleId()}">Module ID</p>
                        <p th:text="#{lang} +': ' + ${result.getLanguageCode()}">Language code</p>
                        <a th:href="'https://browser.ihtsdotools.org/?perspective=full&conceptId1=' + ${result.getConcept().getConceptId()} + '&edition=MAIN/2020-07-31&release=&languages=en'" th:text="#{link}">Link to Code</a>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal" id="addMapping" th:id="'addMapping'+${result.getConcept().getConceptId()}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Mapping</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <span id="appc" th:text="'APPC: ' + ${appc.getCode()} + ' - ' + ${appc.getDisplayName()}">APPC Element</span>
                        </br>
                        <span id="snomed" th:text="'SNOMED: ' + ${result.getConcept().getConceptId()} + ' - ' + ${result.getConcept().getFsn().getTerm()}">SNOMED Element</span>

                        <!--Dropdown-->
                        <div class="dropdown">
                            <div>
                                <select id="selectMap">
                                    <option value="equivalent">EQUIVALENT</option>
                                    <option value="equal">EQUAL</option>
                                    <option value="wider">WIDER</option>
                                    <option value="subsumes">SUBSUMES</option>
                                    <option value="narrower">NARROWER</option>
                                    <option value="specializes">SPECIALIZES</option>
                                    <option value="inexact">INEXACT</option>
                                    <option value="unmatch">UNMATCH</option>
                                    <option value="disjoint">DISJOINT</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{close}">Close</button>
                            <!--ToDo save mapping-->
                            <!-- IntellJ shows error, but it works -->
                            <button type="button" th:attr="onclick=|submitMapping('${result.getConcept().getConceptId()}','${result.getConcept().getFsn().getTerm()}')|" class="btn btn-success" data-dismiss="modal" th:text="#{submit}">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
    </div>
</div>
</div>

<script th:inline="javascript">
    function submitMapping(snomedCode, snomedDisplayName) {
        let mapElement = document.getElementById("selectMap");
        let map = mapElement.options[mapElement.selectedIndex].value;
        let appcCode = [[${appc.getCode()}]];
        let appcAxis = [[${appc.getAxis()}]];

        $.ajax(
            {
                method: "POST",
                url: "ConceptMap/submit",
                contentType: "application/json",
                data: JSON.stringify({appcCode, appcAxis, snomedCode, snomedDisplayName, map }),
                success: function(response, textStatus, xhr){
                        alert("Map successfully saved.");
                },
            }
        );
    }
</script>


<!-- Buttons bottom right -->
<div class="container fixed-bottom p-3" style="background-color: white">
    <div class="float-right" >
        <a href="startPage"><button type="button" class="btn btn-primary" th:text="#{back}">Back to Startpage</button></a>
    </div>
</div>


<!-- The existing mappings Modal -->
<div class="modal" id="mappings">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" th:text="${appc.getCode()}">Mappings for --APPC-- </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span th:text="#{snomed.display_name} + ${appc.getDisplayName()}">Displayname: XXXXXXXX</span>
                <table class="table-hover table-bordered">
                    <thead >
                    <tr>
                        <th scope="col">SNOMED Code</th>
                        <th scope="col" th:text="#{snomed.display_name}">Displayname</th>
                        <th scope="col" th:text="#{mapping}">Mapping</th>
                    </tr>
                    </thead>
                    <tbody th:each="map : ${mapps}">
                    <tr >
                        <td th:text="${map.values().toArray()[2]}">Code</td>
                        <td th:text="${map.values().toArray()[0]}"></td>
                        <td th:text="${map.values().toArray()[1]}">equivalence</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
               <button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{close}">Close</button>

            </div>

        </div>
    </div>
</div>

<script>
    //Datatoggle function
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>