<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SNOMAPP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/css/bstreeview.css" rel="stylesheet">
    <link href="/styles/list.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bstreeview.js"></script>

</head>

<body onload="startInterval()">

<div class="container pt-3" id="header">
    <img alt="SNOMAPP" class="img-fluid" th:src="@{images/logo.png}" height="100px" width="300px">
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{lang.change}">
            Change Language
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" th:href="'?lang=de'" th:text="#{lang.de}">German</a>
            <a class="dropdown-item" th:href="'?lang=en'" th:text="#{lang.en}">English</a>
        </div>
    </div>
    
</div>

<body onload="startInterval()">
<div class="container" style="margin-top: 10px">
    <h4 th:text="#{startpage}"></h4>
</div>

<div class="container">
    <div class="input-group pt-3">
        <input class="form-control" type="text" th:placeholder="#{appc.search}" aria-label="Search" id="searchbar" value="">
        <button class="btn btn-primary" onclick="search()" value="search" th:text="#{appc.search}">Suchen</button>
    </div>
</div>


<div class="container" >
    <br>
    <h5><span th:text="#{appc.version} + ' ' + ${version}"></span></h5>
</div>


<script>
    var timer;
    var tree = true;
    //var tabsHtml = document.getElementById("tabs").innerHTML;

    $("#searchbar").keyup(function(event){
        if(event.keyCode === 13){
            search();
        }
    });

    function startInterval() {
        tabsHtml = document.getElementById("tabs").innerHTML;
        timer = setInterval(checkSearchbar, 100);
    }

    function checkSearchbar() {
        if(document.getElementById("searchbar").value !== ""){
            //search();
            tree = false;
            console.log("search full");
        } else {
            console.log("search empty");
            clearInterval(timer);
            $("#tabs").show();
            $('#tabsSearch').hide();
            if($('#showTree').length) {
                $("#showTree").remove();
            }
            timer = setInterval(checkSearchbar, 100);
        }
    }

    function showTree() {
        document.getElementById("tabs").innerHTML = tabsHtml;
    }

    function search() {
        //clearInterval(timer);

        var searchText = document.getElementById("searchbar").value;

        searchForEntries(searchText);
        sleepFunc();

    }

    async function sleepFunc() {
        //await sleep(1000*10);
    }

    function searchForEntries (searchText){
        console.log("Started");

        fetch("/APPC/getEntriesByName?displayName=" + searchText)
            //.then(json => json.json())
            .then(response => response.json())
            .then(data => {
                $("#tabs").hide();
                console.log(JSON.stringify(data));
                $('#tabsSearch').append(' <div id="showTree"></div>')
                $("#tabsSearch").show();
                $('#showTree').bstreeview({
                    data: JSON.stringify(data)
                });
                addMappingButtons();
            });

    }

    function addMappingButtons(){
        $("div.list-group-item").each(function () {
            // get hidden div containing id (see APPCTree.java for where it is added) and use it to query the backend
            // this is kind of hacky -> maybe change in the future when there is time.
            //Todo add icon for this instead of text
            if(! $(this).find('a').length > 0) {
                let btn = $(`<a href="/resultPage?id=${jQuery("div", this).text()}" class="btn btn-primary" type="button" style="float:right">map</a>`);
                $(this).append(btn);
            }
        });
    }


</script>

<script th:inline="javascript">
    $(function () {

        //get json String from model
        var anatomy = [[${anatomy}]];
        var laterality = [[${laterality}]];
        var modality = [[${modality}]];
        var procedure = [[${procedure}]];

        //create trees out of json data
        $('#treeModality').bstreeview({
            data: modality
        });

        $('#treeLaterality').bstreeview({
            data: laterality
        });

        $('#treeProcedures').bstreeview({
            data: procedure
        });

        $('#treeAnatomy').bstreeview({
            data: anatomy
        });

        addMappingButtons();
    });

</script>


<section id="tabs" class="project-tab">
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="modality" data-toggle="tab" href="#mod" role="tab" aria-controls="modality" aria-selected="true" th:text="#{appc.modality}">Modality</a>
                        <a class="nav-item nav-link" id="laterality" data-toggle="tab" href="#lat" role="tab" aria-controls="laterality" aria-selected="false" th:text="#{appc.laterality}">Laterality</a>
                        <a class="nav-item nav-link" id="procedures" data-toggle="tab" href="#pro" role="tab" aria-controls="procedures" aria-selected="false" th:text="#{appc.procedures}">Procedures</a>
                        <a class="nav-item nav-link" id="anatomy" data-toggle="tab" href="#ana" role="tab" aria-controls="anatomy" aria-selected="false" th:text="#{appc.anatomy}">Anatomy</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="mod" role="tabpanel" aria-labelledby="modality">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 pt-5">
                                        <!--show tree Modality-->
                                        <div id="treeModality"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="lat" role="tabpanel" aria-labelledby="laterality">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 pt-5">
                                        <!--show tree Laterality-->
                                        <div id="treeLaterality"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ana" role="tabpanel" aria-labelledby="anatomy">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 pt-5">
                                        <!--show tree Anatomy-->
                                        <div id="treeAnatomy"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pro" role="tabpanel" aria-labelledby="procedures">
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6 pt-5">
                                        <!--show tree Procedures-->
                                        <div id="treeProcedures"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tabsSearch" class="project-tab">
    <br>
</section>

<div class="container" style="margin-top: 20px">
    <h4 th:text="#{appc.import_csv}">Import APPC</h4>
    <div class="input-group">
        <div class="input-group-prepend">
            <input id="btnUpload" class="btn-primary" type="button" th:value="#{appc.import}"  />
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="APPCFile">
            <label id= "lblImport" class="custom-file-label" for="APPCFile" th:text="#{appc.choose}">Choose file</label>
        </div>
    </div>
</div>

<!-- file upload script -->
<script>
    $(document).ready( function() {
        $('.custom-file :file').on('fileselect', function (event, numFiles, path) {

            if (numFiles === 1) {
                // only one file can be specified
                // label to display the filename
                let display = $('#lblImport'),
                    // the path
                    log = path;

                if (display.length) {
                    display.text(log);
                }
            } else {
                alert("only one file may be specified as an import source");
            }

        });
    });

    $(document).on('change', '.custom-file :file', function() {
        // when file is selected raise th file select event using the number of files selected and the filepath
        let input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            path = input.val();
        input.trigger('fileselect', [numFiles, path]);
    });

    // validate uploaded file to not be enormously large
    $('#APPCFile').on('change', function () {
        let file = this.files[0];

        if (file.size > 30720) {
            alert('max upload size is 30kb');
        }

        //TODO: maybe check for csv ending
    });

    $('#btnUpload').on('click', function () {
        let fileInput = $('#APPCFile')[0].files;
        if(fileInput.length){
            let reader = new FileReader();
            reader.onload = function(e){
                $.post('/APPC/importString', e.target.result, function (data, status, xhr){
                    location.reload();
                });
            }
            reader.readAsText(fileInput[0]);

            //TODO add on error handler if filereading fails});
        }

    });
</script>

<br>
<br>

</body>
</html>
